# Vanilla/Forge
protected net.minecraft.client.particle.ParticleSmokeNormal field_70587_a #smokeParticleScale

public net.minecraft.block.Block field_149770_b # translationKey

public net.minecraft.world.biome.Biome field_76791_y #biomeName

public net.minecraft.item.EnumDyeColor field_193351_w #colorValue

public net.minecraft.nbt.NBTTagCompound field_74784_a #tagMap

public net.minecraft.nbt.NBTTagList field_74747_a #tagList

public net.minecraft.client.audio.SoundHandler field_147694_f # sndManager
public net.minecraft.client.audio.SoundManager field_148620_e # sndSystem

protected net.minecraft.world.biome.BiomeProvider field_76944_d #genBiomes
protected net.minecraft.world.biome.BiomeProvider field_76945_e #biomeIndexLayer

# GregTech
protected gregtech.api.pipenet.block.BlockPipe getCollisionBox(Lnet/minecraft/world/IBlockAccess;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/entity/Entity;)Ljava/util/List;

protected gregtech.common.metatileentities.multi.electric.MetaTileEntityCleanroom lDist
protected gregtech.common.metatileentities.multi.electric.MetaTileEntityCleanroom rDist
protected gregtech.common.metatileentities.multi.electric.MetaTileEntityCleanroom bDist
protected gregtech.common.metatileentities.multi.electric.MetaTileEntityCleanroom fDist
protected gregtech.common.metatileentities.multi.electric.MetaTileEntityCleanroom hDist
protected gregtech.common.metatileentities.multi.electric.MetaTileEntityCleanroom energyContainer
protected+f gregtech.common.metatileentities.multi.electric.MetaTileEntityCleanroom cleanroomReceivers
